spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc.lob.non_contextual_creation: true
        jdbc.time_zone: UTC
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 3600000
  refresh-expiration-ms: 604800000

app:
  frontend-url: ${FRONTEND_URL:http://localhost:4321}

# Email Microservice
email:
  service:
    url: ${EMAIL_SERVICE_URL:http://localhost:3000}
    api-key: ${EMAIL_SERVICE_API_KEY:tu-api-key-segura}
